{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "env": {  //enabled environments
    "node": true,
    "es6": true
  },
  "globals": {
    //place settings for globals here, such as
    //"exampleGlobalVariable": true
  },
  "rules": {
    //enable ESLint rules
    "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": false}],
    "eqeqeq": [1, "smart"],
    "curly": [2, "multi-line", "consistent"],
    "eol-last": 0,
    "no-nested-ternary": 1,
    "padded-blocks": [1, "never"],
    "space-before-blocks": [1, "always"]
  },
  "plugins": [
    //you can put plugins here
  ]
}
