{
  "parserOptions": {
    "ecmaVersion": 7, // ES7 == ES2016
    "sourceType": "module" // 'module' is for ES modules, we use node's CommonJS modules
  },
  "env": {  //enabled environments
    "node": true,
    "es6": true
  },
  "globals": {
    //place settings for globals here, such as
    //"exampleGlobalVariable": true
  },
  "extends": "eslint:recommended",
  "rules": {
    //enable ESLint rules
    "no-console": "off",
    "callback-return": "warn",
    "quotes": ["error", "single", {"avoidEscape": true, "allowTemplateLiterals": false}],
    "eqeqeq": ["warn", "smart"],
    "curly": ["error", "multi-line", "consistent"],
    "eol-last": "off",
    "no-nested-ternary": "warn",
    "padded-blocks": ["warn", "never"],
    "space-before-blocks": ["warn", "always"],
    "semi": ["error", "always", {"omitLastInOneLineBlock": true}]
  },
  "plugins": [
    //you can put plugins here
  ]
}
