@import url(index.css);

#main {
    display: flex;
    flex-flow: column;
    height: calc(100% - 50px);
}

div.table-container {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    margin-top: 1em;
    flex: 0 1 auto;
}

table {
    font-size: smaller;
}

th {
    color: darkred;
}