@import url('index.css');

#main {
    display: flex;
    flex-flow: column;
    height: calc(100% - 40px - 1em);
    width: calc(100% - 40px);
}

div.table-container {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    margin-bottom: 1em;
    flex: 0 1 auto;
}

table {
    font-size: smaller;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

table#legend {
    width: calc(100% - 15px);
    border-bottom: 1px solid gray;
}

/* table#changeList {
    height: 100%;
} */

th, td {
    width: 50%;
}

th {
    color: darkred;
}

th:first-child, td:first-child {
    border-right: 1px solid gray;
}

tr:nth-child(even) {
    background: rgba(169, 169, 169, 0.3);
}

span.special {
    font-style: italic;
}